<div>
	<table class="propertyTable" role="presentation">
		<tr>
			<td class="propertyRowLabel"><span class="required">*</span> <label
				for="${id}_days">Age des documents(en jours)</label>&nbsp;
				<div data-dojo-type="ecm.widget.HoverHelp"
					data-dojo-attach-point="daysHoverHelp"
					message="provide the number of days witch is the duration of adding the documents to be displayed"></div>
			</td>
			<td class="propertyRowValue">
				<div id="${id}_days" data-dojo-attach-point="days"
					data-dojo-type="ecm.widget.NumberTextBox" required="true"
					trim="true" propercase="false"></div>
			</td>
		</tr>
	</table>

</div>
